<!-- <div class="super-container">
    <section class="videos-container">
        <video *ngFor="let video of arrayVideos" [src]="video" width="320" height="240" style="height: 50%; width: 50%"></video>
        <video controls src="http://techslides.com/demos/sample-videos/small.mp4" style="height: 100%; width: 100%"></video>
        <video controls src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerMeltdowns.mp4" style="height: 100%; width: 100%"></video>
        <video controls src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" style="height: 100%; width: 100%"></video>
        <video controls src="http://techslides.com/demos/sample-videos/small.mp4" style="height: 100%; width: 100%"></video>
    </section>
</div> -->
<div class="super-container">
    <vg-player class="videos-container" (onPlayerReady)="onPlayerReady($event)">
        <vg-controls [vgAutohide]="true">
            <vg-play-pause ></vg-play-pause>

            <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

            <vg-scrub-bar >
                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
            </vg-scrub-bar>

            <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

            <vg-fullscreen></vg-fullscreen>
        </vg-controls>

        <video (pause)="onVideoPaused($event)" (ended)="onVideoEnded($event)" (click)="onVideoClicked($event)" poster="assets/background-veltec.png"
            *ngFor="let video of videos" [src]="video.url" [vgMedia]="teste" #teste [vgMaster]="video.isMaster" [id]="video.id"
            preload="auto" style="object-fit: fill;">
        </video>

    </vg-player>

</div>